<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container px-5">
        <a class="navbar-brand">YEONJI KIM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.index')}}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('board.list')}}">QnA</a></li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.signup') }}">회원 가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">로그인</a>
                </li> -->

                {% if g.user %}
                <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('ml_model.inference') }}">ML MODEL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">로그아웃</a>
                </li>
                <li class="nav-item ">
										<!-- email로도 변경해서 끌어와보세요 -->
                    <a class="nav-link" href="#">{{ g.user.username }}</a>
                </li>
            </ul>
            {% else %}
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.signup') }}">회원 가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">로그인</a>
                </li>
            {% endif %}
            </ul>

        </div>
    </div>
</nav>